/* Load screen animations */
.load-wraper.loaded .load-screen {
  transition: transform 2s ease-in-out 3.4s;
}

.load-wraper.loaded .load-screen.left {
  transform: translateX(-101%);
}

.load-wraper.loaded .load-screen.right {
  transform: translateX(101%);
}

.load-wraper.loaded .load-screen svg {
  transition: transform 1s ease-in-out 2.4s;
}

.load-wraper.loaded .load-screen.left svg {
  transform: translate(50%, -50%) rotate(90deg);
}

.load-wraper.loaded .load-screen.right svg {
  transform: translate(-50%, -50%) rotate(90deg);
}

.anm-main {
  stroke-dasharray: 923;
  stroke-dashoffset: 923;
  fill: transparent;
}

.load-wraper.loaded .anm-main {
  animation: svg-animation 2s ease-in-out forwards,
    svg-fill-yellow1 0.4s linear 2s forwards;
}

.anm-circle1 {
  stroke-dasharray: 434;
  stroke-dashoffset: 434;
}

.load-wraper.loaded .anm-circle1 {
  animation: svg-animation 1s ease-in-out forwards;
}

.anm-circle2 {
  stroke-dasharray: 971;
  stroke-dashoffset: 971;
  fill: transparent;
}

.load-wraper.loaded .anm-circle2 {
  animation: svg-animation 2s ease-in-out forwards,
    svg-fill-yellow2 0.4s linear 2s forwards;
}

@keyframes svg-animation {
  to {
    stroke-dashoffset: 0;
    stroke-width: 2;
  }
}

@keyframes svg-fill-yellow1 {
  to {
    fill: #ffb905;
  }
}

@keyframes svg-fill-yellow2 {
  to {
    fill: #cbb700;
  }
}

/* Circle behind the flash */
.image-container .images svg circle {
  animation: rotate 1.5s linear infinite;
  transform-origin: center center;
  transform-box: fill-box;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Flash pump effect */
.image-container .images img.flash {
  animation: pump 1.5s linear infinite;
}

@keyframes pump {
  0% {
    filter: drop-shadow(0px 0px 70px rgba(202, 183, 17, 0.4));
  }

  14% {
    filter: drop-shadow(0px 0px 60px rgba(202, 183, 17, 0.6));
  }

  28% {
    filter: drop-shadow(0px 0px 50px rgba(202, 183, 17, 0.5));
  }

  42% {
    filter: drop-shadow(0px 0px 40px rgba(202, 183, 17, 0.4));
  }

  56% {
    filter: drop-shadow(0px 0px 50px rgba(202, 183, 17, 0.3));
  }

  70% {
    filter: drop-shadow(0px 0px 60px rgba(202, 183, 17, 0.4));
  }

  84% {
    filter: drop-shadow(0px 0px 70px rgba(202, 183, 17, 0.6));
  }

  100% {
    filter: drop-shadow(0px 0px 80px rgba(202, 183, 17, 0.5));
  }
}
